.notification {
  box-shadow: none;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  opacity: 0;
  padding: 0.25rem;
  /* margin: 0.25rem calc((100vw - 500px) / 2); */
  margin: 1rem 0;
  transition: all 250ms;
}

.error {
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.5);
  background-color: red;
  opacity: 100;
  transition: opacity 500ms;
}
.success {
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.5);
  background-color: green;
  opacity: 100;
  transition: opacity 500ms;
}
.info {
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.5);
  background-color: skyblue;
  opacity: 100;
  transition: opacity 500ms;
}
